In [1]:
import pandas as pd

In [24]:
df_a = pd.DataFrame({'Periods': ['2022-06-01', '2022-05-01'],
'Ticker': ['ABC', 'XYZ'],
'Price': [123, 456]})

df_b = pd.DataFrame({'Date': ['2022-05-10', '2022-05-10'],
'ID': ['ABC', 'ABC'],
'mcap': [1000, 2000]})

In [25]:
df_a['Periods'] = pd.to_datetime(df_a['Periods'])
df_b['Date'] = pd.to_datetime(df_b['Date'])

In [40]:
df_a = df_a.sort_values(['Periods'])
df_b = df_b.sort_values(['mcap'], ascending=False)

In [41]:
df_a

     Periods Ticker  Price
1 2022-05-01    XYZ    456
0 2022-06-01    ABC    123

In [42]:
df_b

        Date   ID  mcap
1 2022-05-10  ABC  2000
0 2022-05-10  ABC  1000

In [43]:
merged_df_1 = pd.merge_asof(df_a, df_b, left_on=['Periods'], right_on=['Date'], direction='backward', left_by='Ticker', right_by='ID')
merged_df_1

     Periods Ticker  Price       Date   ID    mcap
0 2022-05-01    XYZ    456        NaT  NaN     NaN
1 2022-06-01    ABC    123 2022-05-10  ABC  1000.0