In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [18]:
df = pd.read_csv('ESG_Growth_Analysis.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445298 entries, 0 to 445297
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    445298 non-null  object
 1   Company Name  445298 non-null  object
 2   Periods       445298 non-null  object
 3   Ticker        444937 non-null  object
 4   Region        445298 non-null  object
 5   Country       445298 non-null  object
 6   Sector        445281 non-null  object
 7   Industry      445281 non-null  object
 8   MSCI Rating   379609 non-null  object
 9   MSCI E        379501 non-null  float64
 10  MSCI S        379609 non-null  float64
 11  MSCI G        379443 non-null  float64
 12  EPS           443420 non-null  float64
 13  Net Income    443513 non-null  float64
 14  Asset         443479 non-null  float64
dtypes: float64(6), object(9)
memory usage: 51.0+ MB

In [19]:
df['Periods'] = pd.to_datetime(df['Periods'], format='%m/%d/%Y')
df = df.sort_values(by=['Periods'], ascending=False)

In [20]:
df_z = df

df_z['MSCI E mean'] = df_z.groupby(['Periods'])['MSCI E'].transform('mean')
df_z['MSCI E std'] = df_z.groupby(['Periods'])['MSCI E'].transform('std')
df_z['MSCI E z'] = (df_z['MSCI E'] - df_z['MSCI E mean']) / df_z['MSCI E std']
df_z['MSCI E z pct'] = df_z.groupby(['Periods'])['MSCI E z'].rank(ascending=False, pct=True)

df_z

,Unnamed: 0,Company Name,Periods,Ticker,Region,Country,Sector,Industry,MSCI Rating,MSCI E,MSCI S,MSCI G,EPS,Net Income,Asset,MSCI E mean,MSCI E std,MSCI E z,MSCI E z pct
116979,59268810,Mettler-Toledo International Inc.,2022-04-29,MTD-US,North America,United States,Health Care,Life Sciences Tools & Services,AA,10.00,5.90,6.60,9.94,230.87,3326.80,5.823995,2.326731,1.794795,0.043377
408860,BGXQNP,Phoenix Group Holdings plc,2022-04-29,PHNX-GB,Europe,United Kingdom,Financials,Insurance,A,5.60,3.90,7.30,-0.13,-177.14,440483.40,5.823995,2.326731,-0.096270,0.512061
340387,B11TCY,Schindler Holding AG Pref,2022-04-29,SCHP-CH,Europe,Switzerland,Industrials,Machinery,BB,5.40,5.40,4.20,3.70,432.58,13141.63,5.823995,2.326731,-0.182228,0.545281
291423,87408010,TAL Education Group Sponsored ADR Class A,2022-04-29,TAL-US,Asia/Pacific Ex Japan,China,Consumer Discretionary,Diversified Consumer Services,CCC,6.70,2.90,1.60,-0.15,-99.37,6669.98,5.823995,2.326731,0.376496,0.337495
395098,B8KF9B,WPP Plc,2022-04-29,WPP-GB,Europe,United Kingdom,Communication Services,Media,AA,10.00,5.70,5.20,0.34,524.61,38052.32,5.823995,2.326731,1.794795,0.043377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44752,238600,Usinas Siderurgicas de Minas Gerais SA-Usimina...,2007-01-31,USIM5-BR,Latin America,Brazil,Materials,Metals & Mining,NaN,NaN,NaN,NaN,0.71,329.23,8348.33,4.946119,1.739139,NaN,NaN
65109,314110,Xstrata Plc,2007-01-31,XTA-GB,Europe,United Kingdom,Materials,Metals & Mining,BBB,5.05,5.33,5.83,0.51,1132.80,20851.20,4.946119,1.739139,0.059731,0.491867
217962,664144,"Nippon Sheet Glass Company, Limited",2007-01-31,5202-JP,Japan,Japan,Industrials,Building Products,NaN,NaN,NaN,NaN,-118.50,-33.18,11554.62,4.946119,1.739139,NaN,NaN
276538,74586710,"PulteGroup, Inc.",2007-01-31,PHM-US,North America,United States,Consumer Discretionary,Household Durables,BB,4.54,4.52,4.13,0.74,191.45,13916.22,4.946119,1.739139,-0.233517,0.596050
337974,B0WGPZ,"Lotte Shopping Co., Ltd",2007-01-31,023530-KR,Asia/Pacific Ex Japan,Korea,Consumer Discretionary,Multiline Retail,NaN,NaN,NaN,NaN,30685.69,535.10,10548.93,4.946119,1.739139,NaN,NaN

In [21]:
df.columns.unique()

Index(['Unnamed: 0', 'Company Name', 'Periods', 'Ticker', 'Region', 'Country',
       'Sector', 'Industry', 'MSCI Rating', 'MSCI E', 'MSCI S', 'MSCI G',
       'EPS', 'Net Income', 'Asset', 'MSCI E mean', 'MSCI E std', 'MSCI E z',
       'MSCI E z pct'],
      dtype='object')

In [22]:
from scipy.stats import zscore

df_z2 = df[['Unnamed: 0', 'Company Name', 'Periods', 'Ticker', 'Region', 'Country', 'Sector', 'Industry', 'MSCI Rating']].join(df.dropna().groupby(['Periods']).transform(zscore))
df_z2

,Unnamed: 0,Company Name,Periods,Ticker,Region,Country,Sector,Industry,MSCI Rating,MSCI E,MSCI S,MSCI G,EPS,Net Income,Asset,MSCI E mean,MSCI E std,MSCI E z,MSCI E z pct
116979,59268810,Mettler-Toledo International Inc.,2022-04-29,MTD-US,North America,United States,Health Care,Life Sciences Tools & Services,AA,1.794557,0.577069,1.133033,-0.105163,-0.188304,-0.260339,NaN,NaN,1.794557,-1.582783
408860,BGXQNP,Phoenix Group Holdings plc,2022-04-29,PHNX-GB,Europe,United Kingdom,Financials,Insurance,A,-0.096228,-0.712284,1.585824,-0.114588,-0.396204,1.106833,NaN,NaN,-0.096228,0.040951
340387,B11TCY,Schindler Holding AG Pref,2022-04-29,SCHP-CH,Europe,Switzerland,Industrials,Machinery,BB,-0.182173,0.254731,-0.419394,-0.111003,-0.085524,-0.229644,NaN,NaN,-0.182173,0.156041
291423,87408010,TAL Education Group Sponsored ADR Class A,2022-04-29,TAL-US,Asia/Pacific Ex Japan,China,Consumer Discretionary,Diversified Consumer Services,CCC,0.376468,-1.356961,-2.101191,-0.114607,-0.356577,-0.249883,NaN,NaN,0.376468,-0.563826
395098,B8KF9B,WPP Plc,2022-04-29,WPP-GB,Europe,United Kingdom,Communication Services,Media,AA,1.794557,0.448134,0.227450,-0.114148,-0.038630,-0.151738,NaN,NaN,1.794557,-1.582783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44752,238600,Usinas Siderurgicas de Minas Gerais SA-Usimina...,2007-01-31,USIM5-BR,Latin America,Brazil,Materials,Metals & Mining,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65109,314110,Xstrata Plc,2007-01-31,XTA-GB,Europe,United Kingdom,Materials,Metals & Mining,BBB,0.059562,-0.158515,0.268147,-0.073551,0.764079,-0.198681,NaN,NaN,0.059562,-0.029241
217962,664144,"Nippon Sheet Glass Company, Limited",2007-01-31,5202-JP,Japan,Japan,Industrials,Building Products,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276538,74586710,"PulteGroup, Inc.",2007-01-31,PHM-US,North America,United States,Consumer Discretionary,Household Durables,BB,-0.233508,-0.690542,-0.803226,-0.073437,-0.225648,-0.235084,NaN,NaN,-0.233508,0.331336
337974,B0WGPZ,"Lotte Shopping Co., Ltd",2007-01-31,023530-KR,Asia/Pacific Ex Japan,Korea,Consumer Discretionary,Multiline Retail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# 어떻게 Ticker와 Periods 칼럼은 유지할 수 있을까?

df_z3 = df.dropna().groupby(['Periods']).transform(zscore)
df_z3 = df[['MSCI E', 'MSCI S', 'MSCI G', 'EPS', 'Net Income', 'Asset']].add_suffix("_z")
df_z3

        MSCI E_z  MSCI S_z  MSCI G_z     EPS_z  Net Income_z    Asset_z
116979     10.00      5.90      6.60      9.94        230.87    3326.80
408860      5.60      3.90      7.30     -0.13       -177.14  440483.40
340387      5.40      5.40      4.20      3.70        432.58   13141.63
291423      6.70      2.90      1.60     -0.15        -99.37    6669.98
395098     10.00      5.70      5.20      0.34        524.61   38052.32
...          ...       ...       ...       ...           ...        ...
44752        NaN       NaN       NaN      0.71        329.23    8348.33
65109       5.05      5.33      5.83      0.51       1132.80   20851.20
217962       NaN       NaN       NaN   -118.50        -33.18   11554.62
276538      4.54      4.52      4.13      0.74        191.45   13916.22
337974       NaN       NaN       NaN  30685.69        535.10   10548.93

[445298 rows x 6 columns]

In [24]:

df = pd.merge(df, df_z3, on=[['Ticker', 'Periods']], how='left')

KeyError: ['Ticker', 'Periods']